/* line 17, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Hammersmith One";
  font-style: normal;
  font-weight: normal;
  src: local("Hammersmith One"), local("HammersmithOne"), url("fonts/HammersmithOne.woff") format("woff");
}

/* line 14, ../../src/public/style.sass */
body {
  font-family: Helvetica, Verdana, "LiHei Pro", "微軟正黑體", "新細明體", Arial, sans-serif;
}

/* line 17, ../../src/public/style.sass */
#container {
  width: 1000px;
  margin: 20px auto;
}

/* line 23, ../../src/public/style.sass */
#meter {
  overflow: hidden;
  *zoom: 1;
}

/* line 26, ../../src/public/style.sass */
.chart {
  float: left;
  overflow: hidden;
  width: 480px;
  margin: 20px 10px;
  height: 150px;
  box-shadow: inset #c8c8c8 0px 0px 10px;
  border-radius: 8px;
}

/* line 36, ../../src/public/style.sass */
.meter {
  float: left;
  width: 230px;
  height: 150px;
  margin: 20px 10px;
  box-shadow: inset #c8c8c8 0px 0px 10px;
  border-radius: 8px;
}
/* line 43, ../../src/public/style.sass */
.meter .digits {
  position: relative;
  z-index: 80;
  font-size: 300%;
  text-align: center;
  line-height: 150px;
  color: #787878;
}

/* line 51, ../../src/public/style.sass */
.foo {
  position: relative;
  z-index: 100;
  top: -150px;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
}
/* line 59, ../../src/public/style.sass */
.foo .name {
  color: #a0a0a0;
  font-size: 150%;
}
/* line 63, ../../src/public/style.sass */
.foo .unit {
  color: #b4b4b4;
  padding-left: 10px;
}

/* line 68, ../../src/public/style.sass */
.template {
  display: none;
}
